*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin: 10vh;
}
body{
    background-image: url(Imagens/imagem-fundo-vermelho.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}
.quad-novaConta{
    border: 1px solid black;
    font-size: 1vw;
    padding: 4vw 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    justify-content: center;
}
.quad-novaConta > form > section{
    display: flex;
    flex-direction: column;
    padding: 2vw;
}
input{
    margin: 1vh;
    padding: 1vw;
    border-radius: 2vh;
}
.retan-termos{
    border: 1px solid black;
    margin: 4vh;
    padding: 4vw 2vw;
    font-size: 1.5vw;
    height: 10vw;
    width: 35vw;
    background-color: aliceblue;    
}
.retan-termos > section > p{
    border: 1px solid black;
    font-size: 1.1vw;
}
#Nova{
    width: 15vw;
}
