*{
    margin: 0;
    padding: 0;
}
header{
    height: 12vh;
    padding: 4vh 4vh;
    display: flex;
    align-items: center;
    background-color: #1b191a;
}
input{
    width: 35vw;
    height: 7vh;
    border-radius: 10px;
}
.navegacao{
    display: flex;
    justify-content: space-around;
    width: 40vw;
    align-items: center;
}
.texto-navegacao{
    font-size: 3vh;
    color: gray;
    text-decoration: none;
}

main{
    height: 140vh;
    background-color: rgb(206,206,206);
    padding: 3vh 6vw;
}
.carrinho{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 15vw;
}
.img2{
    width: 20vw;
    margin: 20px;
}
#carrinho_vazio{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#recomendados{
    background-color: aliceblue;
    margin: 20px;
    padding: 20px;
}
#g23{
    width: 15vw;
    height: 25vh;
}
#texto-produtos{
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer{
    background-color: #1b191a; 
    height: 40vh;
    color: aliceblue;
}
#fim-pagina{
    height: 40vh;
    padding: 10vh 20vh;
    display: flex;
    flex-direction: row;
    font-size: 2vh;
}
li{
    font-size: 1.5vw;
}
ul{
    font-style: oblique;
    width: 20vw;
}